* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0a0620;
}

/* Navbar */
.navbar {
  width: 100%;
  background: linear-gradient(90deg, #12002b, #1b003b);
  padding: 15px 0;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

/* .logo span {
  color: #ff00ff;
} */

.logo span {
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: inline-block;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff00ff;
}

/* Button */
.btn {
  padding: 8px 18px;
  /* background: linear-gradient(90deg, #ff0080, #ff00ff); */
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border-radius: 10000px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(251, 9, 180, 0.8);
}



/* .btn:hover {
  opacity: 0.8;
} */

/* Hamburger */
#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
}

/* Responsive */
@media (max-width: 576px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #12002b;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  #menu-toggle:checked  .nav-links {
    display: flex;
  }
}


/* banner */

/* ---------- base ---------- */


/* body {
  
  background: 
rgba(247, 233, 63, 1)
rgba(251, 9, 180, 1)
rgba(145, 0, 248, 1)
  color: #fff;
} */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  /* background image + overlay */
  background:
    
    url("B13-A02-TechWave/assets/hero-bg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 1600px;        /* large device fixed width */
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding: 40px 20px;
}




/* ---------- center image ---------- */
.center-wrap {
  position: relative;
  width: 220px;
  height: 220px;
  margin: auto;
}

.circle {
  width: 100%;
  height: 100%;
  inset: 0;
}

.mic {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 80px;
}

.badge {
  position: absolute;
  top: 0%;
  right: 20px;
  background: #2cff9d;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
}

/* ---------- text ---------- */
.title {
  font-size: 48px;
  margin-top: 30px;
}

.subtitle {
  max-width: 600px;
  margin: 12px auto 32px;
  font-size: 15px;
  opacity: 0.8;
}

/* ---------- buttons ---------- */
.btn-group {
  display: flex;
  
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 0.9rem;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  /* width: 100%; */
}


.btn.primary {
  /* background: linear-gradient(135deg, #ff3cac, #784ba0); */
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  color: #fff;
}

.btn.secondary {
  border: 1px solid #16553f;
  color: #5affc6;
  background: none;
}
.btn:hover {
  transform: translateY(-2px);
}


@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .center-wrap {
    width: 170px;
    height: 170px;
  }

  .mic {
    width: 60px;
  }

  .title {
    font-size: 34px;
  }

  .subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {

  .hero{
    .hero {
    min-height: 100%; 
    background-position: top center;
    background-size: contain;
  }

  }
  .container {
    width: 100%;
    padding: 30px 16px;
  }
  .cta-group{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }

  .button-group .btn {
    flex: 1;
    max-width: 160px;
  }

  /* .btn-group,
  .btn,
  .btn.primary,
  .btn.secondary {
    display: flex !important;
    flex-direction: row !important;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }

  .btn-group btn,
  .btn btn,
  .btn.primary btn,
  .btn.secondary btn {
    width: auto;
    flex: 1;
    max-width: 160px;
  }  */


  

  .center-wrap {
    width: 160px;
    height: 160px;
  }

  .mic {
    width: 55px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 14px;
  }

  .hero {
    background-position: top center;
  }

  .cta-group {
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  .cta-group .btn {
    flex: 1;
    max-width: 100%;
  }
  .btn {
  width: 100%;
}
}




/* podcast */



.about {
  background: radial-gradient(circle at top, #1a0838, #0b0620);
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

.about-container {
  max-width: 1200px;
  margin: auto;
}


.about-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}


.about-text {
  max-width: 820px;
  margin: auto;
  font-size: 4rem;
  line-height: 1.8;
  color: #cfcfe3;
}


.divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, #ffffff22, transparent);
  margin: 60px 0;
}


.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.stat h3 {
  font-size: 42px;
  color: #2bff9f;
  margin-bottom: 8px;
}

.stat p {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: #b6b6d9; */
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
}



/* ≤576px (Small devices) */
@media (max-width: 576px) {
  .about {
    padding: 60px 15px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-text {
    font-size: 14px;
  }

  .stats {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .stat h3 {
    font-size: 32px;
  }
}

/* ≥992px (Large devices) */
@media (min-width: 992px) {
  .about-title {
    font-size: 48px;
  }

  .about-text {
    font-size: 16px;
  }

  .stat h3 {
    font-size: 48px;
  }
}



/* why choose section */


body {
  
  background: radial-gradient(circle at top, #2a0f4d, #140022);
  color: #fff;
}

.why-choose {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, minmax(120px, auto));
  gap: 24px;
}

/* Grid Areas */
.card-1 { grid-area: 1 / 1 / 5 / 3; }
.card-2 { grid-area: 1 / 3 / 3 / 7; }
.card-3 { grid-area: 3 / 3 / 5 / 7; }
.card-4 { grid-area: 5 / 1 / 7 / 5; }
.card-5 { grid-area: 5 / 5 / 7 / 7; }


.card {
  background: #2a0f4d;
  border-radius: 20px;
  padding: 28px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.card card-1{
  justify-content: center;
  align-items: center;
}

.card h3 {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 20px;
}

.card p {
  color: #cfc3e6;
  line-height: 1.6;
  font-size: 14.5px;
}




@media screen and (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    grid-area: auto;
  }

  .section-title {
    font-size: 28px;
    margin-bottom: 32px;
  }

  .card {
    padding: 22px;
  }
}

@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, minmax(120px, auto));
    gap: 24px;
  }

  .card-1 { grid-area: 1 / 1 / 5 / 3; }
  .card-2 { grid-area: 1 / 3 / 3 / 7; }
  .card-3 { grid-area: 3 / 3 / 5 / 7; }
  .card-4 { grid-area: 5 / 1 / 7 / 5; }
  .card-5 { grid-area: 5 / 5 / 7 / 7; }
}





/* featured */


body {
  
  background: #14001f;
  color: #fff;
}

/* Section */
.featured {
  padding: 80px 20px;
  background: radial-gradient(circle at top, #2a0b4f, #12001f);
}

/* Container */
.container {
  max-width: 80%;
  margin: 0 auto;
}

/* Title */
.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}

/* Grid */
.episode-grid {
  display: grid;
  gap: 24px;
}

/* Card */
.episode-card {
  background: #2b0f4d;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.35);
}

/* Thumbnail */
.thumb {
  position: relative;
}

.thumb img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* Play Button */
.play-btn {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff3cac, #784ba0);
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  color: #fff;
  text-decoration: none;

  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.play-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 30px rgba(226, 15, 135, 0.6);
}

/* Content */
.content {
  padding: 20px;
  text-align: start;
}

.content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  line-height: 1.6;
  color: #d6c7e4;
  margin-bottom: 16px;
}

.duration {
  font-size: 13px;
  color: #3cff8f;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}



/* Small devices (≤576px) */
@media (max-width: 576px) {
  .section-title {
    font-size: 28px;
  }

  .episode-grid {
    grid-template-columns: 1fr;
    padding: auto;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .episode-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .thumb img {
    height: 220px;
  }
}



/* footer */



.footer {
  background: 
rgba(247, 233, 63, 1)
rgba(251, 9, 180, 1)
rgba(145, 0, 248, 1)
  padding: 80px 20px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

/* Container */
.footer-container {
  max-width: 100%;
  background: url(B13-A02-TechWave/assets/footer-bg.png) center/cover no-repeat;
  max-height: 80%;
  align-items: center;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

/* Brand */
.brand {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.brand span {
  color: #ff00ff;
}

/* Platforms */
.platforms {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  margin-bottom: 30px;
  flex-wrap: wrap;
  font-size: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.platforms a {
  display: flex;
  align-items: center;
  
  color: #dcdcdc;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.platforms a:hover {
  color: #ff00ff;
}



/* Copyright */
.copyright {
  font-size: 13px;
  color: #b5b5b5;
}



/* Small devices (≤576px) */
@media (max-width: 576px) {
  .brand {
    font-size: 2rem;
  }

  .platforms {
    gap: 1rem;
    font-size: 1rem;
  }
  .platforms a{
    grid-template-columns: 2, 1fr;
    grid-template-rows: 2, 1fr;
  }

  
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .brand {
    font-size: 52px;
  }
}




/* meet the host */




.host {
  padding: 120px 200px;
  background: radial-gradient(circle at top, #2a0b4f, #12001f);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 3.1rem;
}

/* Host Card */
.host-card {
  display: flex;
  align-items: center;
  gap: 30px;
  background: #2b0f4d;
  border-radius: 22px;
  padding: 40px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

/* Image */
.host-image img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #3c165f;
}

/* Content */
.host-content h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.host-content p {
  font-size: 14px;
  line-height: 1.7;
  color: #d6c7e4;
  margin-bottom: 18px;
  max-width: 700px;
  text-align: start;
}

/* Social icons */
.socials {
  display: flex;
  gap: 12px;
}

.socials a {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  /* background: #2b0f4d); */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: transform 0.25s ease;
}

.socials a:hover {
  transform: translateY(-3px);
}


/* ≤576px */
@media screen and (max-width: 576px) {
  .host{
    padding: 1rem;
    /* margin: 1.5rem; */
  }
  .section-title {
    font-size: 28px;
  }

  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 28px;
  }

  .host-content p {
    max-width: 100%;
  }

  .socials {
    justify-content: center;
  }
}

/* ≥992px */
@media screen and (min-width: 992px) {
  .host-card {
    padding: 45px 50px;
  }
}




 

