* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Inter", sans-serif;
  
}

  


*body {
  background: #0a0620;
  
  
  
  
  

}

/* Navbar */
.navbar {
  width: 100%;
  background: linear-gradient(90deg, #12002b, #1b003b);
  padding: 15px 0;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  justify-content: center;
  align-items: center;
}



.logo span {
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: inline-block;
}


.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff00ff;
}


.btn {
  padding: 8px 18px;
  /* background: linear-gradient(90deg, #ff0080, #ff00ff); */
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border-radius: 10000px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(251, 9, 180, 0.8);
}






#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
}

/* small device */
@media screen and (max-width: 576px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #12002b;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  #menu-toggle:checked  .nav-links {
    display: flex;
  }
}



@media screen and (min-width: 992px) {

  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    
    width: auto;
    height: auto;
    padding: 0;
  }

  
  .hamburger {
    display: none;
  }

  
  #menu-toggle {
    display: none;
  }

  
  .logo {
    display: flex;
    align-items: center;
  }
}

/* hero section */




.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



.bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;         
  min-height: 100%;     
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
}


.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}




.circle {
  position: relative; 
  width: 170px;
  height: 170px;
  background: url("B13-A02-TechWave/assets/hero-circle.png") no-repeat center / cover;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: float 3s ease-in-out infinite;
}


/* Inner image */
.circle-inner {
  width: 60px;
  height: 60px;
  object-fit: contain;


  animation: rotate 6s linear infinite;
}




.badge {
  position: absolute;
  top: 6%;
  right: 8%;

  background: #2cff9d;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;

  box-shadow: 0 0 16px rgba(44, 255, 157, 0.6);
}






.text-area p {
  font-size: 14px;
  margin-bottom: 6px;
  max-width: 500px;
}

.title {
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 6px;
  text-align: center;
}
.subtitle {
  max-width: 600px;
  margin: 12px auto 32px;
  font-size: 15px;
  opacity: 0.8;
}


.btn-group {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  display: inline-flex;
  padding: 8px 18px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  cursor: pointer;
  align-items: center;
  gap: .5rem;
}

.btn.primary {
  

  
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  color: #fff;
}

.btn.secondary {
  border: 1px solid #16553f;
  color: #5affc6;
  background: none;
}

.btn:hover {
  transform: translateY(-2px);
}


/* Large Device */
@media screen and (min-width: 992px) {
  .circle {
    width: 220px;
    height: 220px;
  }

  .circle-inner {
    width: 80px;
    height: 80px;
  }
  .text-area h1{
    font-size: 3.5rem;
    

  }

  .text-area p {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .btn-group {
    gap: 15px;
    margin-top: 20px;
  }

  .btn {
    padding: 10px 22px;
    font-size: 14px;
  }

  
  .bg-img {
    width: 100%;
    height: auto;
    min-height: 100%;
  }

  .badge {
    font-size: 13px;
    padding: 5px 12px;
    top: 10px;
    right: 14px;
  }
}


/* Small device */
@media screen and (max-width: 576px) {
  .circle {
    width: 120px;
    height: 120px;
  }

  .circle-inner {
    width: 60px;
    height: 60px;
  }
}


/*  Animations  */
@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/* podcast */



.about {
  background: radial-gradient(circle at top, #1a0838, #0b0620);
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.about-container {
  max-width: 1200px;
  margin: auto;
}


.about-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}


.about-text {
  max-width: 820px;
  margin: auto;
  font-size: 3rem;
  line-height: 1.8;
  color: #cfcfe3;
}


.divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, #ffffff22, transparent);
  margin: 60px 0;
}


.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.stat h3 {
  font-size: 42px;
  color: #2bff9f;
  margin-bottom: 8px;
}

.stat p {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: #b6b6d9; */
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
}



/*  (Small devices) */
@media screen and (max-width: 576px) {
  .about {
    padding: 60px 15px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-text {
    font-size: 14px;
  }

  .stats {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .stat h3 {
    font-size: 32px;
  }
}

/* Large devices */
@media screen and (min-width: 992px) {
  .about-title {
    font-size: 48px;
  }

  .about-text {
    font-size: 16px;
  }

  .stat h3 {
    font-size: 48px;
  }
}



/* why choose section */




.why-choose {
  
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  background: radial-gradient(circle at top, #2a0f4d, #140022);
  color: #fff;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, minmax(120px, auto));
  gap: 24px;
}

/* Grid Areas */
.card-1 { grid-area: 1 / 1 / 5 / 3; }
.card-2 { grid-area: 1 / 3 / 3 / 7; }
.card-3 { grid-area: 3 / 3 / 5 / 7; }
.card-4 { grid-area: 5 / 1 / 7 / 5; }
.card-5 { grid-area: 5 / 5 / 7 / 7; }




.card {
  background: #2a0f4d;
  border-radius: 22px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .card card-1{
  justify-content: center;
  align-items: center;
} */

.card h3 {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 20px;
}

.card p {
  color: #cfc3e6;
  line-height: 1.6;
  font-size: 14.5px;
}




@media screen and (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    grid-area: auto;
  }

  .section-title {
    font-size: 28px;
    margin-bottom: 32px;
  }

  .card {
    padding: 22px;
  }
}

@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, minmax(120px, auto));
    gap: 24px;
  }

  .card-1 { grid-area: 1 / 1 / 5 / 3; }
  .card-2 { grid-area: 1 / 3 / 3 / 7; }
  .card-3 { grid-area: 3 / 3 / 5 / 7; }
  .card-4 { grid-area: 5 / 1 / 7 / 5; }
  .card-5 { grid-area: 5 / 5 / 7 / 7; }
}





/* featured */


body {
  
  background: #14001f;
  color: #fff;
}

/* Section */
.featured {
  padding: 80px 20px;
  background: radial-gradient(circle at top, #2a0b4f, #12001f);
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Title */
.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}

/* Grid */
.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

/* Card */
.episode-card {
  background: #2b0f4d;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.35);
}

/* Thumbnail */
.thumb {
  position: relative;
}

.thumb img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* Play Button */
.play-btn {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff3cac, #784ba0);
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  color: #fff;
  text-decoration: none;

  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.play-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 30px rgba(226, 15, 135, 0.6);
}

/* Content */
.content {
  padding: 20px;
  text-align: start;
}

.content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  line-height: 1.6;
  color: #d6c7e4;
  margin-bottom: 16px;
}

.duration {
  font-size: 13px;
  color: #3cff8f;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}



/* Small devices (≤576px) */
@media (max-width: 576px) {
  .section-title {
    font-size: 1.5rem;
  }

  .episode-grid {
    grid-template-columns: 1fr;
    
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .episode-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .thumb img {
    height: 220px;
  }
}



/* footer */



.footer {
  
  background: url(B13-A02-TechWave/assets/footer-bg.png) center / cover no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  
  padding: 120px 20px;
  min-height: 400px; 
  color: #fff;
  
  overflow: hidden;
}


.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  
  text-align: center;
  
  position: relative;
  z-index: 2;
  
}




/* Brand */
.brand {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.brand span {
  background: linear-gradient(135deg, #ff00ff, #ffcf4f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.platforms {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  margin-bottom: 30px;
  flex-wrap: wrap;
}



.platforms a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #dcdcdc;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.platforms a:hover {
  color: #ff00ff;
}



/* Copyright */
.copyright {
  font-size: 13px;
  color: #b5b5b5;
}



/* Small devices  */
@media screen and (max-width: 576px) {
  .brand {
    font-size: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 0.2rem;
  }
  .footer-container{
    max-height: auto;
    /* background-position: center; */
    

  }
   .footer {
    background-size: contain;
    padding: 80px 16px 140px;  
    
  }

  .platforms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 20px;
    max-width: 200px;
    margin: 1rem auto;
  }
  


  .platforms a {
    justify-content: center;
    font-size: 0.75rem;
  }

  .copyright {
    padding-bottom: 1rem;
  }
}


/* Large devices  */
@media screen and (min-width: 992px) {
  .brand {
    font-size: 52px;
  }
}




/* meet the host */




.host {
  padding: 120px 20px;
  background: radial-gradient(circle at top, #2a0b4f, #12001f);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 3.1rem;
}


.host-card {
  display: flex;
  align-items: center;
  gap: 30px;
  background: #2b0f4d;
  border-radius: 22px;
  padding: 40px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}


.host-image img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #3c165f;
}


.host-content h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.host-content p {
  font-size: 14px;
  line-height: 1.7;
  color: #d6c7e4;
  margin-bottom: 18px;
  max-width: 700px;
  text-align: start;
}


.socials {
  display: flex;
  gap: 12px;
}

.socials a {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: transform 0.25s ease;
}

.socials a:hover {
  transform: translateY(-3px);
}


/* small device */
@media screen and (max-width: 576px) {
  .host{
    padding: 1rem;
    /* margin: 1.5rem; */
  }
  .section-title {
    font-size: 28px;
  }

  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 28px;
  }

  .host-content p {
    max-width: 100%;
  }

  .socials {
    justify-content: center;
  }
}

/* ≥992px */
@media screen and (min-width: 992px) {
  .host-card {
    padding: 45px 50px;
  }
}




 

